@font-face {
	font-family: "Great Vibes";
	src: url(./assets/fonts/GreatVibes-Regular.otf);
}

@font-face {
	font-family: "Roboto";
	src: url(./assets/fonts/Roboto-Regular.ttf);
}

html, body {
	margin: 0;
	padding: 0;
}

header img{
	width: 100%;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	margin-bottom: 2%;
}

h4 {
	margin: 0;
}

.active {
	background: #c1a691 !important;
	border-color: #c1a691 !important;
}

.activeNav {
	color: #ffffff !important;
	background-color: #ad8b67;
	padding: 0.5% 5%;
}

.teeths {
	width: 100%;
	height: 16px;
	background-size: auto;
	position: relative;
}

.upTeeths {
	background-image: url(./assets/images/teethUp.png);
	margin-top: -18px;
}

.downTeeths {
	background-image: url(./assets/images/teethDown.png);
	margin-top: -5%;
}

.galeryTeeths {
	margin-top: -14px;
}


.scrollArrow {
	float: right;
}

.sectionContent {
	margin: 0 auto;
}

.sectionContent > div h2 {
	font-size: 48px;
	letter-spacing: 3px;
	line-height: 29px;
	color: #38281B;
	font-family: "Great Vibes";
}

.sectionContent > div h4 {
	font-size: 28px;
	letter-spacing: 2px;
	line-height: 29px;
	color: #38281B;
	font-family: "Roboto";
	font-weight: bold;
}

#mainNavigation ul, main section .sectionContent {
	width: 50%;
}

 /* Main navigation section styles*/

#mainNavigation {
	display: flex;
	justify-content: center;
}

#mainNavigation ul{
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
}

#mainNavigation ul li{
	margin-left: 5%;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 29px;
	color: #38281B;
	font-family: "Roboto";
	font-weight: bold;
}

 /* News section styles*/

#news {
	margin: 4% 0 4% 0;
}


#newsContent {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 2% 0 2% 0;
}

#newsHeading {
	margin-left: 60%
}

#newsPagination{
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
}

#newsPagination div{
	border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 5px;
    background: #cfcfcf;
    border: 2px solid #cfcfcf;
    color: #ffffff;    
	font: 20px Arial, sans-serif;
	margin-left: 15px;
	cursor: pointer;
}

#newsSidePhoto{
	padding: 10px;
	border: 1px solid #000000;
	margin-right: 8%;
	width: 50%;
	max-height: 340px;
}

#newsArticle {
	width: 40%;
	max-height: 2%;
	overflow: hidden;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 29px;
	color: #38281B;
	font-family: "Roboto";
	font-weight: 300;
}

 /* Offer section styles*/


#offer {
	width: 100%;
	background-image: url(./assets/images/news_background.png);
	background-size: cover;
	padding: 5% 0 5% 0;
}

#offerHeading h2, #offerHeading h4{ 
	height: 100%;
	color: #ffffff;
}

#offerContent {
	margin: 0 auto;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#offerContent figure {
	margin: 0 0 15% 0;
	text-align: center;
	width: 50%;
}

#offerContent figure img {
	max-width: 100%;
	cursor: pointer;
}


#offerContent figure h6 {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 29px;
	color: #ffffff;
	font-family: "Roboto";
	font-weight: 800;
}


#firstChoiceMenu footer {
	font-size: 60px;
	letter-spacing: 4px;
	line-height: 29px;
	color: #ffffff;
	font-family: "Great Vibes";
	text-align: center;
}

/* Second Choice menu styles */

#secondChoiceMenu {
	display: none;
}

#secondChoiceMenu #offerHeading {
	display: flex;
	flex-direction: column;
}

#secondChoiceMenu #offerHeading img {
	width: 80px;
	height: 5px;
	margin-left: 26px;
}

#secondChoiceMenu h2 {
	color:#38281B;
}

#secondOfferContentContainer {
	padding: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.singleProduct h6{
	margin: 0 0 5px 0;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 29px;
	color: #3A3A3A;
	font-family: "Roboto";
	font-weight: 800;
}

.singleProduct {
	margin-top: 55px;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 40%;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 17px;
	color: #3A3A3A;
	font-family: "Roboto";
	font-weight: 300;
}

.singleProduct img {
	display: inline-block;
}

.singleProduct div {
	display: inline-block;
	width: 50%;
	margin-left: 10px;
}

.singleProduct article {
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 17px;
	color: rgb(58,58,58);
	font-family: "Roboto";
	font-weight: 300;
}

.singleProduct p {
	width: 204px;
	height: 30px;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 17px;
	color: rgb(195,19,38);
	font-family: "Roboto";
}
#secondOfferContent footer{
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#secondOfferContent footer div{
	border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 5px;
    background: #cfcfcf;
    border: 2px solid #cfcfcf;
    color: #ffffff;    
	font: 15px Arial, sans-serif;
	margin-left: 15px;
	cursor: pointer;
}


 /* Galery section styles*/

#galery {
	width: 100%;
	margin: 4% 0 4% 0;
}

#galeryHeading{
	align-self: flex-start; 
}

#galery .sectionContent{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#galeryNavigation ul{
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	align-items: center;

}

#galeryNavigation ul li {
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 29px;
	color:#38281B;
	font-family: "Roboto";
	font-weight: bold;
	margin-left: 5%;
}

#galeryImages {
	margin: 2%;
	max-height: 600px;
	overflow: hidden;
	scroll-behavior: smooth;
}

.imagesBunch {
	display: inline-block;
	height: 600px;
}

#galeryImages img {
	display: inline-block;
	width: 45%;
	height: 45.5%;
	margin: 2% calc(2.5% - 5px) calc(5% - 5px) 2.5%;
	margin-bottom: 5px;
	cursor: pointer;
}

#galeryPagination {
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
}

#galeryPagination  div{
	border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 5px;
    background: #cfcfcf;
    border: 2px solid #cfcfcf;
    color: #ffffff;    
	font: 13px Arial, sans-serif;
	margin-left: 15px;
	cursor: pointer;
}

 /* Localization section styles*/

 #localization {
	width: 100%;
	background-image: url(./assets/images/localization_background.png);
	background-size: 100% 100%;
	padding: 5% 0 5% 0;
	color: #ffffff;
}

#localizationSideContent h2, #localizationSideContent h4{
	color: #ffffff !important;
}

#localization .sectionContent {
	display: flex;
	padding-bottom: 10%;
}

#localizationSideContent {
	width: 100%;
	max-height: 640px;
}

#localizationMainContent > img {
	padding: 10px;
	border: 1px solid #ffffff;
	margin: 4% 0 8% 0;
	width: 50%;
	height: 50%;
	max-height: 400px;
}

#localizationMainContent {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#LocalizationsList {
	scroll-behavior: smooth;
	position: relative;
	margin: 4% 0 8% 0;
	height: 400px;
	width: 50%;
	max-width: 400px;
	margin-left: 10%;
	overflow: hidden;
}


#LocalizationsList > :first-child {
	border-top: 1px solid #ffffff;
}

.listItem {
	width: 100%;
	height: 33%;
	display: inline-block;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #ffffff;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 17px;
	color: #ffffff;
	font-family: "Roboto";
	font-weight: 300;
}

.listItem > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.listItem > div div{
	margin: 10% 0 0 0;
}

.listItem img {
	vertical-align: text-top;
}

.scrollArrow {
	cursor: pointer;
}

/*Contact styles*/

#contact {
	padding: 4% 0 4% 0;
	width: 100%;
	margin: 0 auto;
	background-image: url(./assets/images/footer_icecream_background.png);
	background-size: cover;
	margin-top: -1%;
	z-index: -1;
}

#contact h3{
	margin: 5% 0 5% 0;
	font-size: 36px;
	letter-spacing: 2px;
	line-height: 29px;
	color: #000000;
	font-family: "Great Vibes";
}

#contact p {
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 29px;
	color: #000000;
	font-family: "Roboto";
}

#contact .sectionContent {
	width: 50%;
}

 /*Footer styles*/

#mainFooter {
	font-family: "Roboto";
	font-size: 12px;
	padding: 1% 0 1% 2%;
	color: #6b6a69;
	width: 98%;
	background-color: #000000
}

#mainFooter strong {
	color: #eeeeee;
}

/* Modal styles */

#modal {
	display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
	background-color: rgb(00, 00, 00, 0.3); 
}

#modal span {
	position: fixed;
	color: #ffffff;
	top: 0;
	right: 0;
	font-size: 4em;
	margin-right: 2%;
	cursor: pointer;
}

#modalContent {
	display: flex;
	justify-content: center;
	opacity: 1;
	background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
